@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

.font-title {
  font-family: 'Montserrat', sans-serif;
}


html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  min-height: 100vh;
  background-image: url("/public/woodbg.png");

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}